<!--display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 5px;margin-bottom: 30px;-->
<div style="text-align: center;">

	{% if app.request.attributes.get('_route') == 'client_show' %}
		{% include "partials/base/_logo_base64.html.twig" %}
	{% elseif app.request.attributes.get('_route') == 'ma_facture' %}
		{% include "partials/base/_logo_base64.html.twig" %}
	{% else %}
		<img src="{{ asset('img/logo.jpg') }}" width="100" alt="">
	{% endif %}
	
</div>

<div style="margin-bottom: 5px;">
	<div style="display: inline-block;width: 45%; vertical-align: top;">
		<h4 style="text-align: center;margin: 0;">Société de transports
			<br>
			Alimentaires et Frigorifiques
		</h4>
		<h4 style="color: red;text-align: center;margin: 0;">www.{{ appName }}.com</h4>
		<h4 style="margin: 0;">
			<span style="color: red;">STOCKAGE DISTRIBUTION</span>
			<small style="font-size: .6em;font-weight: 100;">
			</small>
		</h4>
		<table style="border: 1px solid black;width: 100%;margin: 10px 10px 20px 0">
			<thead style="background: rgb(146, 248, 146);">
				<tr>
					<td style="border-collapse: collapse;">Client</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="border-collapse: collapse;">
						<strong>{{ client.nom ~ ' ' ~ client.prenom }}</strong>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="display: inline-block;width: 48%; padding: 15px; vertical-align: top;">

		<div>
			<h4 style="padding: 0;margin: 0;">TRANSPORTS FABRICE MOISY SAS</h4>
			<small style="padding: 0;"></small><br>
			<small style="padding: 0;"></small>

			<p>Période du
				{% for commande in commandes %}
					{% for destination in commande.destinations %}
						Du: {{ destination.dateChargement|date('d/m/Y') }} au {{ destination.dateLivraison|date('d/m/Y') }}
					{% endfor %}
				{% endfor %}
			</p>
			<p>Ref:
				{% for commande in commandes %}
					{% for destination in commande.destinations %}
						De {{ destination.adresseChargement }} à {{ destination.adresseLivraison }}
					{% endfor %}
				{% endfor %}
			</p>
		</div>

	</div>
</div>
<small>Historique des commandes</small>
<table style="border: 1px solid black;width: 100%;margin-right: 10px;border-collapse: collapse;">
	<thead style="background: rgb(146, 248, 146);">
		<tr>
			<td style="border-collapse: collapse;">N°</td>
			<td style="border-collapse: collapse;">Itinéraires</td>
		</tr>
	</thead>
	<tbody>
		{% for commande in commandes %}

		<tr style="vertical-align: top;background: white;padding-bottom: 0;">
			<td style="border-collapse: collapse;">{{ commande.id }}</td>
			<td style="border-collapse: collapse;">
				{% for itineraire in commande.client.itineraires %}
				<table style="border: 1px solid rgb(192, 192, 192);width: 100%;border-collapse: collapse;">
					<thead style="background: rgb(146, 248, 146);">
						<tr>
							<td style="width: 33%;">Designation</td>
							<td style="width: 33%;">Tarif</td>
							<td style="width: 33%;">Description</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border-collapse: collapse;">{{ itineraire.designation }}</td>
							<td style="border-collapse: collapse;">{{ itineraire.tarif ~ currency }}</td>
							<td style="border-collapse: collapse;">{{ itineraire.description|raw }}</td>
						</tr>
					</tbody>
				</table>
				{% endfor %}
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="4">Aucune commande</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<br>
<table style="border: 1px solid black;width: 100%;margin-right: 10px;border-collapse: collapse;">
	<thead style="background: rgb(146, 248, 146);">
		<tr>
			<th style="border-collapse: collapse;">Total Taxable</th>
			<th style="border-collapse: collapse;">Total non Taxable</th>
			<th style="border-collapse: collapse;">Total Hors Taxe</th>
			<th style="border-collapse: collapse;">Taux TVA</th>
			<th style="border-collapse: collapse;">Montant TVA</th>
			<th style="border-collapse: collapse;">Net a Payer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
		</tr>
	</tbody>
</table>

{% include "factures/_pied_page.html.twig" %}