<header id="page-topbar">
	<div class="navbar-header">
		<div
			class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href="{{ path('espace_utilisateur') }}" class="logo logo-dark text-light">
					<span class="logo-sm">
						{{ appName }}
						<!-- 
																															<img src="{{ asset('img/logo.jpg') }}" alt="" width="22">-->
					</span>
					<span
						class="logo-lg">
						<!--<img src="{{ asset('img/logo.jpg') }}" alt="" width="17">-->
						{{ appName }}

					</span>
				</a>

				<a href="{{ path('espace_utilisateur') }}" class="logo logo-light text-light">
					<span class="logo-sm">
						{{ appName }}
						<!-- 
																															<img src="{{ asset('img/logo.jpg') }}" alt="" width="22">-->

					</span>
					<span
						class="logo-lg">
						<!--<img src="{{ asset('img/logo.jpg') }}" alt="" width="17">-->
						{{ appName }}


					</span>
				</a>
			</div>

			<button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
				<i class="mdi mdi-menu"></i>
			</button>

			<div class="d-none d-lg-inline-block">
				<a href="{{ path('commande_index') }}">
					<button type="button" class="btn header-item noti-icon waves-effect" data-bs-target="#search-wrap">
						
						Planning des commandes
					</button>
				</a>
			</div>

		</div>

		<!-- Search input -->
		<div class="search-wrap" id="search-wrap">
			<div class="search-bar">
				<input class="search-input form-control" placeholder="Search"/>
				<a href="#" class="close-search toggle-search" data-target="#search-wrap">
					<i class="mdi mdi-close-circle"></i>
				</a>
			</div>
		</div>

		<div class="d-flex">

			<div class="dropdown d-none d-lg-inline-block">
				<button type="button" class="btn header-item toggle-search noti-icon waves-effect" data-target="#search-wrap">
					<i class="mdi mdi-magnify"></i>
				</button>
			</div>

			<div class="dropdown d-inline-block d-lg-none ms-2">
				<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="mdi mdi-magnify"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">

					<form class="p-3">
						<div class="m-0">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
								<button class="btn btn-primary" type="submit">
									<i class="mdi mdi-magnify"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="dropdown d-none d-lg-inline-block ms-1">
				<button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
					<i class="mdi mdi-fullscreen"></i>
				</button>
			</div>

			<!-- User -->
			<div class="dropdown d-inline-block">
				<button type="button" class="btn header-item waves-effect user-step" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if app.user.avatar %}

						<img class="rounded-circle header-profile-user" src="{{ vich_uploader_asset(app.user) | imagine_filter('small_avatar') }}" alt="{{ app.user.nom }} {{ app.user.prenom }}">

					{% else %}

						<img class="rounded-circle header-profile-user" src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" alt="{{ app.user.nom }} {{ app.user.prenom }}">

					{% endif %}
					<span class="d-none d-xl-inline-block ms-1">{{ app.user.nom }}
						{{ app.user.prenom }}</span>
					<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
				</button>
				<div
					class="dropdown-menu dropdown-menu-end">
					<!-- item-->
					<a class="dropdown-item" href="{{ path('users_profil') }}">

						<i class="dripicons-user d-inline-block text-muted me-2"></i>
						Profile</a>

					<a class="dropdown-item" href="{{ path('espace_utilisateur') }}">

						<i class="dripicons-user d-inline-block text-muted me-2"></i>
						Espace utilisateur</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('app_logout') }}">
						<i class="dripicons-exit d-inline-block text-muted me-2"></i>
						Déconnexion</a>
				</div>
			</div>

		</div>
	</div>
</header>
