<p>Salut
   {{ commande.conducteur.civilite }}

   <strong>
      {{ commande.conducteur.nom }}
      {{ commande.conducteur.prenom }}
   </strong>! une nouvelle commande vous à été attribuée
</p>
<h5>Detail de la commande:</h5>

<table style="width: 100%;">
   <tbody>
      <tr>
         <th style="width: 40%; text-align:left;">Designation:</th>
         <td>{{ commande.itineraire.designation }}</td>
      </tr>
      <tr>
         <th style="width: 40%; text-align:left;">Date de chargement:</th>
         <td>{{ commande.dateReception|date('d/m/Y à H:s:i') }}</td>
      </tr>
      <tr>
         <th style="width: 40%; text-align:left;">Date de livraison:</th>
         <td>{{ commande.dateLivraison|date('d/m/Y à H:s:i') }}</td>
      </tr>
   </tbody>
</table>
<br>
<a href="{{ commande.itineraire.link }}" target="_blank" style="display: inline-block;padding: 15px;border-radius: 20px;background: #1f3c4d;color:white;text-decoration:none;">Voir l'itineraire sur la carte</a>
<br><br>
<h2>Merci!</h2>