{% extends 'base.html.twig' %}

{% block title %}PalEurope index{% endblock %}

{% block body %}
    <h1>PalEurope index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pal_europe in pal_europes %}
            <tr>
                <td>{{ pal_europe.id }}</td>
                <td>{{ pal_europe.name }}</td>
                <td>{{ pal_europe.description }}</td>
                <td>
                    <a href="{{ path('pal_europe_show', {'id': pal_europe.id}) }}">show</a>
                    <a href="{{ path('pal_europe_edit', {'id': pal_europe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pal_europe_new') }}">Create new</a>
{% endblock %}
