{{ form_start(form) }}
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="font-size-18 py-2 text-light">
                Itineraire
                {% if app.request.attributes.get('_route') == 'itineraire_edit' %}
                n°:
                {{ itineraire.designation }}
                {% endif %}
            </h4>
        </div>
        <div class="card-body py-5">
            <div class="row">
                <div class="col-sm-8 offset-sm-1">

                    {{ form_row(form.designation) }}

                    {{ form_row(form.link) }}

                    <div class="row">
                        <div class="col-sm-7">
                            {{ form_row(form.client) }}
                        </div>
                        
                        <div class="col-sm-5">
                            {{ form_row(form.tarif) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                    {% if app.request.attributes.get('_route') == 'itineraire_edit' %}
                    
                    {{ include('itineraire/_delete_form.html.twig') }}
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
