<!--display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 5px;margin-bottom: 30px;-->
<div style="text-align: center;">

	{% if app.request.attributes.get('_route') == 'client_show' %}
		{% include "partials/base/_logo_base64.html.twig" %}
	{% elseif app.request.attributes.get('_route') == 'ma_facture' %}
		{% include "partials/base/_logo_base64.html.twig" %}
	{% else %}
		<img src="{{ asset('img/logo.jpg') }}" width="100" alt="">
	{% endif %}
	
</div>

<div style="margin-bottom: 5px;">
	<div style="display: inline-block;width: 45%; vertical-align: top;">
		<h4 style="color: red;text-align: center;margin: 0;">{{ siteweb }}</h4>
		<table style="border: 1px solid black;width: 100%;margin: 10px 10px 20px 0">
			<thead style="background: rgb(146, 248, 146);">
				<tr>
					<td style="border-collapse: collapse;">Date</td>
					<td style="border-collapse: collapse;">N°Facture</td>
					<td style="border-collapse: collapse;">Code client</td>
					<td style="border-collapse: collapse;">Nom(s) client</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="border-collapse: collapse;">{{ commande.created|date('d/m/Y') }}</td>
					<td style="border-collapse: collapse;">F{{ commande.id }}</td>
					<td style="border-collapse: collapse;">{{ commande.client.id }}</td>
					<td style="border-collapse: collapse;">
						<strong style="padding: 0;text-style: capitalize;">{{ commande.client.nom }}
				{{ commande.client.prenom }}</strong>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="display: inline-block;width: 48%; padding: 15px; vertical-align: top;">

		<div>
			
			<small style="padding: 0;">{{ commande.client.adresse }}</small>

			<p style="margin: 0;">Période du
				{{ commande.created|date('d/m/Y') }}
				au
				{{ commande.updated|date('d/m/Y') }}
			</p>
			<p style="margin: 0;">Ref:
				{{ commande.id }}
			</p>
		</div>

	</div>
</div>

<table style="border: 1px solid black;width: 100%;margin-right: 10px;border-collapse: collapse;">
	<thead style="background: rgb(146, 248, 146);">
		<tr>
			<td style="border-collapse: collapse;">N°</td>
			<td style="border-collapse: collapse;">Désignation</td>
			<td style="border-collapse: collapse;">Montant</td>
		</tr>
	</thead>
	<tbody>
		{% if commande.client.itineraires|length > 0 %}

		{% for itineraire in commande.client.itineraires %}
		<tr style="vertical-align: top;background: white;padding-bottom: 0;">
			<td style="border-collapse: collapse;">{{ itineraire.id }}</td>
			<td style="border-collapse: collapse;">{{ itineraire.designation }}</td>
			<td style="border-collapse: collapse;">{{ itineraire.tarif ~ currency }}
			</td>
		</tr>
		{% endfor %}

		{% endif %}

	</tbody>
</table>
<br>
<table style="border: 1px solid black;width: 100%;margin-right: 10px">
	<thead style="background: rgb(146, 248, 146);">
		<tr>
			<th style="border-collapse: collapse;">Total Taxable</th>
			<th style="border-collapse: collapse;">Total non Taxable</th>
			<th style="border-collapse: collapse;">Total Hors Taxe</th>
			<th style="border-collapse: collapse;">Taux TVA</th>
			<th style="border-collapse: collapse;">Montant TVA</th>
			<th style="border-collapse: collapse;">Net a Payer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
			<td style="border-collapse: collapse;"></td>
		</tr>
	</tbody>
</table>
<br>
<table style="width: 100%;border: 1px solid gray">
	<tr>
		<td style="width: 80%;"><br>
			<p style="padding: 8px;">Date de facturation
				<br>
				{{ commande.created ? commande.created|date('d/m/Y:') : '' }}
				<br>
			</p>
		</td>
		<td style="width: 20%;text-align:right;">
			<p style="padding: 8px;">
				{% if commande.qrcode %}
				<small>{{ appName }}</small>
				<br>
				<img src="{{ commande.qrcode }}" width="70" height="70">
				<br>
				<small>Qrcode</small>
				{% endif %}
			</p>
		</td>
	</tr>
</table>

{% include "factures/_pied_page.html.twig" %}