{{ form_start(form) }}
<div class="card shadow">
	<div class="card-header bg-primary">
		<h4 class="font-size-18 py-2 text-light">
			Commande
			{% if app.request.attributes.get('_route') == 'commande_edit' %}
			n°:
			{{ commande.id }}
			{% endif %}
		</h4>
	</div>
	<div class="card-body py-5">
		<div class="row">
			<div class="col-sm-9 offset-sm-1">

				<fieldset class="">
					<legend class="font-size-18 mt-4 p-2">Informations Générale</legend>
					<table class="table commande table-hover">
						<tbody>
							<tr>
								<th>Client</th>
								<td>
									{{ form_widget(form.client) }}
									{{ form_errors(form.client) }}
								</td>
							</tr>
							<tr>
								<th>Conducteur</th>
								<td>
									{{ form_widget(form.conducteur) }}
									{{ form_errors(form.conducteur) }}
								</td>
							</tr>
							<tr>
								<th>Hehicule</th>
								<td>
									{{ form_widget(form.vehicule) }}
									{{ form_errors(form.vehicule) }}
								</td>
							</tr>
							<tr>
								<th>
									<div id="destination"
										data-prototype="{{ form_row(form.destinations.vars.prototype)|e('html_attr') }}">
										{{ form_row(form.destinations) }}
										<span></span>
									</div>
								</th>
								<td></td>
							</tr>
							<tr>
								<th>Observation</th>
								<td>
									{{ form_row(form.observation) }}
								</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<button class="btn btn-primary" formnovalidate>
										{{ button_label|default('Enregistrer') }}
									</button>
									{% if app.request.attributes.get('_route') == 'commande_edit' %}
									{{ include('commande/_delete_form.html.twig') }}
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
				{{ form_rest(form) }}
			</div>
		</div>

	</div>
</div>
{{ form_end(form) }}