{% extends 'base.html.twig' %}

{% block title %}Planning des commandes
{% endblock %}

{% block links %}

	<li class="breadcrumb-item">
		<a href="{{ path('commande_index') }}">
			<i class="mdi mdi-calendar-multiple"></i>
			Planning des commandes ({{ commandes.getTotalItemCount }}
			commande{{ commandes.getTotalItemCount > 1 ? 's' : '' }})
		</a>
	</li>

{% endblock %}

{% block btn %}
	<a href="{{ path('commande_new') }}" class="btn btn-primary">
		Nouvelle commande</a>&nbsp;&nbsp;
	<a href="{{ path('itineraire_index') }}" class="btn btn-primary">
		Itineraires</a>
{% endblock %}

{% block body %}

	{% include "commande/_table_card.html.twig" %}

{% endblock %}

{% block stylesheets %}
{{ parent() }}

<!-- Responsive Table css -->
<link href="{{ asset('themes/base/libs/admin-resources/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- Responsive Table js -->
	<script src="{{ asset('themes/base/libs/admin-resources/rwd-table/rwd-table.min.js') }}"></script>
	
	<!-- Init js -->
	<script src="{{ asset('themes/base/js/pages/table-responsive.init.js') }}"></script>
{% endblock %}
