{{ form_start(form) }}
<legend class="h5">Filtre</legend>
<table class="table filtre">
   <tbody>
      <tr>
         <td>{{ form_row(form.vehicules) }}</td>
         <td>{{ form_row(form.clients) }}</td>
         <td>{{ form_row(form.destinations) }}</td>
      </tr>
      <tr>
         <td>{{ form_row(form.statut) }}</td>
         <td></td>
         <td style="text-align: right;"><button class="btn btn-light"><i class="mdi mdi-filter"></i> Filtrer</button></td>
      </tr>
   </tbody>
</table>


{{ form_end(form) }}
