{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header bg-primary">
        <legend class="font-size-18 text-light py-2">Secteur de travail
            {{ secteur.name }}
        </legend>
    </div>
    <div class="card-body py-5">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th>#ID</th>
                    <td>{{ secteur.id }}</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>{{ secteur.name }}</td>
                </tr>
                <tr>
                    <th>Nombre de conducteur</th>
                    <td>({{ secteur.conducteurs|length }})</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ secteur.description }}</td>
                </tr>
                <tr>
                    <th>Hexa décimal</th>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" bac role="progressbar" style="width: 50%;background: {{ secteur.hexColor }}!important" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ secteur.created ? secteur.created|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Dernière mise à jour</th>
                    <td>{{ secteur.updated ? secteur.updated|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('secteur_edit', {'id': secteur.id}) }}" class="btn btn-light">Mettre à jour</a>

        {{ include('secteur/_delete_form.html.twig') }}

    </div>
</div>

{% endblock %}