<fieldset class="my-3">
	<legend>Stat Quantité Cha</legend>
	<table class="table commande">
		<tbody>
			<tr>
				<th>Tol attente cha</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.tolAttenteCha) }}
							{{ form_errors(form.tolAttenteCha) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>Tol retard cha</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.tolRetardCha) }}
							{{ form_errors(form.tolRetardCha) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>Lors du cal attante (ch)</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.calAttanteCha) }}
							{{ form_errors(form.calAttanteCha) }}
						</div>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</fieldset>

<fieldset class="my-3">
	<legend>Stat Quantité Li</legend>
	<table class="table commande">
		<tbody>
			<tr>
				<th>Tol attente cha</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.tolAttenteLiv) }}
							{{ form_errors(form.tolAttenteLiv) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>Tol retard Liv</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.tolRetardLiv) }}
							{{ form_errors(form.tolRetardLiv) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>Lors du cal attante (Liv)</th>
				<td>
					<div class="row">
						<div class="col-sm-8">
							{{ form_widget(form.calAttanteLiv) }}
							{{ form_errors(form.calAttanteLiv) }}
						</div>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</fieldset>

